Repository DockYard/openid_connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-lint, mix-analysis, mix-compile

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-analysis:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer --format dialyxir
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Apply suggestions from code review
  README.md
Due: none

Add a :flush message handler to let tests await for all messaged to be processed
  lib/openid_connect/worker.ex
Due: mix-lint, mix-analysis, mix-compile

Complete rewrite of the library
  lib/openid_connect.ex
  lib/openid_connect/application.ex
  lib/openid_connect/document.ex
  lib/openid_connect/document/cache.ex
  lib/openid_connect/worker.ex
  mix.exs
  mix.lock
  test/fixtures/http/auth0/discovery_document.exs
  test/fixtures/http/auth0/jwks.exs
  test/fixtures/http/azure/discovery_document.exs
  test/fixtures/http/azure/jwks.exs
  test/fixtures/http/google/discovery_document.exs
  test/fixtures/http/google/jwks.exs
  test/fixtures/http/keycloak/discovery_document.exs
  test/fixtures/http/keycloak/jwks.exs
  test/fixtures/http/okta/discovery_document.exs
  test/fixtures/http/okta/jwks.exs
  test/fixtures/http/onelogin/discovery_document.exs
  test/fixtures/http/onelogin/jwks.exs
  test/fixtures/http/vault/discovery_document.exs
  test/fixtures/http/vault/jwks.exs
  test/fixtures/jwks/jwk.exs
  test/fixtures/jwks/jwk2.exs
  test/fixtures/jwks/jwks.exs
  test/openid_connect/document/cache_test.exs
  test/openid_connect/document_test.exs
  test/openid_connect/worker_test.exs
  test/openid_connect_test.exs
  test/support/fixtures.ex
  test/support/fixutes.ex
  test/support/jason_encoder.ex
  test/support/mock_worker.ex
  test/test_helper.exs
Due: mix-lint, mix-analysis, mix-compile

Allow provider names as strings
  config/test.exs
  lib/openid_connect/worker.ex
  test/openid_connect/worker_test.exs
  test/openid_connect_test.exs
  test/support/mock_worker.ex
Due: mix-lint, mix-analysis, mix-compile

Allow runtime configuration change without restart
  lib/openid_connect.ex
  lib/openid_connect/worker.ex
  test/openid_connect/worker_test.exs
  test/openid_connect_test.exs
  test/support/mock_worker.ex
Due: mix-lint, mix-analysis, mix-compile

Add tests to make sure atom keys are still supported
  config/test.exs
  test/openid_connect/worker_test.exs
Due: mix-lint, mix-analysis

Disable some Credo checks and fix other issues
  .credo.exs
  lib/openid_connect/document/cache.ex
  test/openid_connect/document/cache_test.exs
Due: mix-lint, mix-analysis, mix-compile

nil end_session_uri
  lib/openid_connect.ex
Due: mix-lint, mix-analysis, mix-compile

Verify token expiration and aud value
  lib/openid_connect.ex
  test/openid_connect_test.exs
Due: mix-lint, mix-analysis, mix-compile

Increase code coverage
  lib/openid_connect.ex
  test/fixtures/jwks/jwks.exs
  test/openid_connect/document/cache_test.exs
  test/openid_connect/document_test.exs
  test/openid_connect_test.exs
Due: mix-lint, mix-analysis, mix-compile

Allow claims_supported to be nil
  lib/openid_connect/document.ex
  test/fixtures/http/cognito/discovery_document.exs
  test/fixtures/http/cognito/jwks.exs
  test/openid_connect/document_test.exs
Due: mix-lint, mix-analysis, mix-compile

Allow to override transport options for http client
  lib/openid_connect/application.ex
  test/openid_connect/application_test.exs
  test/openid_connect_test.exs
Due: mix-lint, mix-analysis, mix-compile

Add userinfo endpoint support
  lib/openid_connect.ex
  lib/openid_connect/document.ex
  test/fixtures/http/google/userinfo.exs
  test/openid_connect_test.exs
Due: mix-lint, mix-analysis, mix-compile

Fix gc message tuple
  lib/openid_connect/document/cache.ex
Due: mix-lint, mix-analysis, mix-compile

Reset and fixup README and LICENSE files
  LICENSE.md
  README.md
Due: none

Remove outdated configs along with the folder
  config/config.exs
  config/dev.exs
  config/test.exs
Due: mix-lint, mix-analysis

Fix typo in file name
  test/support/fixtures.ex
Due: mix-lint, mix-analysis, mix-compile

Use map instead of keyword in config example in README.md
  README.md
Due: none

Fix application supervisor name
  lib/openid_connect/application.ex
Due: mix-lint, mix-analysis, mix-compile

Fix reference in package information
  mix.exs
Due: mix-lint, mix-analysis

Add test matrix and test on all versions since 1.10 (minimal required)
  .github/workflows/test.yml
  mix.exs
Due: mix-lint, mix-analysis

Use Ubuntu v20 to support older Elixir versions
  .github/workflows/test.yml
Due: none

Change runners to avoid sitting in a long CI queue
  .github/workflows/test.yml
Due: none

Bump minimum required Elixir version to 1.12 because of new URI module functions used
  .github/workflows/test.yml
  mix.exs
Due: mix-lint, mix-analysis

Add newline in the end of LICENSE.md file
  LICENSE.md
Due: none

Upgrade httpoison dependency.
  mix.exs
  mix.lock
Due: mix-lint, mix-analysis

fix authorization_uri/1 example in the README
  README.md
Due: none

Move redirect_uri from configs to a function argument and support other grant types for token endpoint
  lib/openid_connect.ex
  test/openid_connect_test.exs
Due: mix-lint, mix-analysis, mix-compile

Fix child specs
  lib/openid_connect.ex
Due: mix-lint, mix-analysis, mix-compile

Fix type spec once more (forgot to select line in commit code range)
  lib/openid_connect.ex
Due: mix-lint, mix-analysis, mix-compile

feat: Support for registration_endpoint
  lib/openid_connect.ex
  lib/openid_connect/document.ex
  test/openid_connect/document_test.exs
  test/openid_connect_test.exs
Due: mix-lint, mix-analysis, mix-compile

Do not fetch OIDC documents larger than 1 MB
  lib/openid_connect/document.ex
Due: mix-lint, mix-analysis, mix-compile

Limit max size of document to 1 Mb
  lib/openid_connect/document.ex
  mix.lock
  test/openid_connect/document_test.exs
  test/openid_connect_test.exs
Due: mix-lint, mix-analysis, mix-compile

Fix Credo warning
  test/openid_connect/document_test.exs
Due: mix-lint, mix-analysis

Fix trailing whitespace in README.md
  README.md
Due: none

Stream-read response to validate document size and make it compile-time configurable
  lib/openid_connect/document.ex
  test/openid_connect/document_test.exs
Due: mix-lint, mix-analysis, mix-compile

Run tests on Elixir 1.16 and Erlang/OTP 26
  .github/workflows/test.yml
Due: none

Try to make document a bit larger to pass tests on older Elixir versions
  test/openid_connect/document_test.exs
Due: mix-lint, mix-analysis

chore: add CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: add CONTRIBUTING.md (#57)
  CONTRIBUTING.md
Due: none

Path conditions:
  mix-lint: any of: \.exs*$
  mix-analysis: any of: \.exs*$
  mix-compile: any of: \.ex$
