Repository DockYard/openid_connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-lint, mix-analysis, mix-compile

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-analysis:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer --format dialyxir
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

docs: update changelog for v1.0.0
  CHANGELOG.md
Due: none

keep a changelog style
  CHANGELOG.md
Due: none

Add changelog to docs
  mix.exs
Due: mix-lint, mix-analysis

Add myself as a maintainer
  mix.exs
Due: mix-lint, mix-analysis

chore: update all dependencies to latest
  mix.lock
Due: none

chore: update all dependencies to latest (#60)
  mix.lock
Due: none

chore: update CI elixir versions
  .github/workflows/test.yml
Due: none

update cache
  .github/workflows/test.yml
Due: none

restrict conditions
  .github/workflows/test.yml
Due: none

dialyzer
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .travis.yml
  requirements.txt
Due: none

fix the tests
  test/openid_connect_test.exs
Due: mix-lint, mix-analysis

fix
  .github/workflows/test.yml
Due: none

freshen
  .github/workflows/test.yml
Due: none

deps
  .github/workflows/test.yml
Due: none

chore: update CI elixir versions (#61)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .travis.yml
  requirements.txt
  test/openid_connect_test.exs
Due: mix-lint, mix-analysis

docs: example of using a state token
  lib/openid_connect.ex
Due: mix-lint, mix-analysis, mix-compile

provide extended example
  README.md
Due: none

fix uri
  README.md
Due: none

chore: add missing documentation, hide private
  lib/openid_connect.ex
  lib/openid_connect/application.ex
  lib/openid_connect/document.ex
  lib/openid_connect/document/cache.ex
Due: mix-lint, mix-analysis, mix-compile

remove elixirls
  lib/openid_connect.ex
Due: mix-lint, mix-analysis, mix-compile

docs: example of using a state token (#58)
  README.md
  lib/openid_connect.ex
Due: mix-lint, mix-analysis, mix-compile

docs: update changelog for v1.0.0 (#59)
  CHANGELOG.md
  mix.exs
Due: mix-lint, mix-analysis

chore: add missing documentation, hide private (#62)
  lib/openid_connect.ex
  lib/openid_connect/application.ex
  lib/openid_connect/document.ex
  lib/openid_connect/document/cache.ex
Due: mix-lint, mix-analysis, mix-compile

docs: complete claude overhaul
  README.md
  lib/openid_connect.ex
Due: mix-lint, mix-analysis, mix-compile

move phoenix example to separate guide
  README.md
  mix.exs
  phoenix_example.md
Due: mix-lint, mix-analysis

move to guides, fix readme link
  guides/phoenix_example.md
  lib/openid_connect.ex
  mix.exs
Due: mix-lint, mix-analysis, mix-compile

Sponsored by TV Labs
  README.md
Due: none

Sponsored by TV Labs (#64)
  README.md
Due: none

docs: complete claude overhaul (#63)
  README.md
  guides/phoenix_example.md
  lib/openid_connect.ex
  mix.exs
Due: mix-lint, mix-analysis, mix-compile

feat: publish to Hex.pm upon Github release
  .github/workflows/release.yml
Due: none

chore: make the default grant type "authorization_code"
  lib/openid_connect.ex
Due: mix-lint, mix-analysis, mix-compile

feat: publish to Hex.pm upon Github release (#65)
  .github/workflows/release.yml
Due: none

chore: make the default grant type "authorization_code" (#66)
  lib/openid_connect.ex
Due: mix-lint, mix-analysis, mix-compile

Path conditions:
  mix-lint: any of: \.exs*$
  mix-analysis: any of: \.exs*$
  mix-compile: any of: \.ex$
